<h2>News</h2>

<mat-card>
  <div fxLayout="column" fxLayoutAlign="center center">
    <img
      mat-card-md-image
      [src]="api + '/uploads/' + post.image"
      [alt]="'Photo of ' + post.title"
    >
    <h1>{{ post.title }}</h1>
    <p class="opacity">{{ post.date }}</p>
    <p>{{ post.content }}</p>
  </div>
</mat-card>

<div class="comments">
  <h2>Comments</h2>
  <mat-card *ngFor="let item of comments" class="card" fxLayout="row" fxLayoutAlign="space-between flex-start" >
    <span><strong>{{ item.author }}</strong></span>
    <span>Wrote: <strong>{{ item.comment }}</strong></span>
    <button
      type="button"
      mat-raised-button
      color="warn"
      (click)="onDelete(item.id)"
    >Delete</button>
  </mat-card>
</div>

<hr>
<h3>Add Comment</h3>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #form="ngForm" fxLayout="column">

      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input name="author" matInput ngModel/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Content</mat-label>
        <textarea
          name="comment"
          required
          ngModel
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
        ></textarea>
      </mat-form-field>

      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="form.invalid"
        >Send</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
